%nav.navbar.navbar-default.navbar-fixed-top{"data-behavior" => "animated-navbar"}
  .container-fluid.col-md-10.col-md-offset-1
    .navbar-header
      = link_to root_path, class: "navbar-brand", id: "logo" do
        = image_tag('logo.png', height: 40, alt: "Stories")
    %ul.nav.navbar-nav.filter-links
      %li
        = nav_link_to "Staff pick", root_path
    .folding-nav
      %ul.nav.navbar-nav.navbar-right
        %li.main-searchbar
        - if user_signed_in?
          %li.new-post-button= link_to "Write a story", new_story_path, class: "button"
          = render 'layouts/avatar_dropdown'
        - else
          %li.new-post-button= link_to "Write a story", new_story_path, class: "button", data: { behavior: 'trigger-overlay' }
          %li.sign-in-button= link_to "Sign in / Sign up", new_user_session_path, class: 'button green-border-button', data: { behavior: 'trigger-overlay' }
