!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Thinker
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{:class => "#{controller.controller_name} #{controller.action_name}"}
    = render 'layouts/overlay' unless user_signed_in?
    = render 'layouts/header'

    .progress-bar{"data-behavior" => "progress-bar"}

    .container-fluid.main-container
      = yield

  :javascript
    window.userSignedIn = #{user_signed_in?};
